.sidebar {
  height: 68.88vw;
  border-radius: 16px;
  background: #181818;
  padding: 1.11vw;

  .profile {
    .profileImg {
    }
    .designation {
    }
  }

  .sidebarMiddle {
    margin-top: 4.16vw;
    //gap: 14.16vw;
  }
  .sidebarBottom {
    
  }
}
